{{ nginx_root_dir }}/log/*.log {
    daily
    dateext
    missingok
    rotate 31
    nocompress
    sharedscripts
    postrotate
        docker container kill nginx-nginx-1  -s USR1
    endscript
}
