version: '3'
services:
  zookeeper:
    # default heap for zookeeper server
    #    ZK_SERVER_HEAP="${ZK_SERVER_HEAP:-1000}"
    #    export SERVER_JVMFLAGS="-Xmx${ZK_SERVER_HEAP}m $SERVER_JVMFLAGS"

    # default heap for zookeeper client
    #    ZK_CLIENT_HEAP="${ZK_CLIENT_HEAP:-256}"
    #    export CLIENT_JVMFLAGS="-Xmx${ZK_CLIENT_HEAP}m $CLIENT_JVMFLAGS"

    image: '{{ image_repository }}/public/zookeeper-official:3.7'
    network_mode: host
    restart: always
    environment:
      ZOO_MY_ID: "{{ zoo_my_id }}"
      ZOO_SERVERS: "server.{{ zoo_my_id }}={{ ansible_ssh_host }}:2888:3888;2181"
      ZK_SERVER_HEAP: "{{ ZK_SERVER_HEAP }}"
      ZK_CLIENT_HEAP: "{{ ZK_SERVER_HEAP }}"
    volumes:
      - "{{ zk_root_dir }}/zookeeper/data:/data"
      - "{{ zk_root_dir }}/zookeeper/datalog:/datalog"
      - "{{ zk_root_dir }}/zookeeper/conf:/conf"
