apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-rsyslog-jvm
  namespace: elk
data:
  jvm.options: |
    ## JVM configuration

    # Xms represents the initial size of total heap space
    # Xmx represents the maximum size of total heap space

    -Xms7g
    -Xmx7g

    ################################################################
    ## Expert settings
    ################################################################
    ##
    ## All settings below this section are considered
    ## expert settings. Don't tamper with them unless
    ## you understand what you are doing
    ##
    ################################################################

    ## GC configuration
    -XX:+UseConcMarkSweepGC
    -XX:CMSInitiatingOccupancyFraction=75
    -XX:+UseCMSInitiatingOccupancyOnly

    ## Locale
    # Set the locale language
    #-Duser.language=en

    # Set the locale country
    #-Duser.country=US

    # Set the locale variant, if any
    #-Duser.variant=

    ## basic

    # set the I/O temp directory
    #-Djava.io.tmpdir=$HOME

    # set to headless, just in case
    -Djava.awt.headless=true

    # ensure UTF-8 encoding by default (e.g. filenames)
    -Dfile.encoding=UTF-8

    # use our provided JNA always versus the system one
    #-Djna.nosys=true

    # Turn on JRuby invokedynamic
    -Djruby.compile.invokedynamic=true
    # Force Compilation
    -Djruby.jit.threshold=0
    # Make sure joni regexp interruptability is enabled
    -Djruby.regexp.interruptible=true

    ## heap dumps

    # generate a heap dump when an allocation from the Java heap fails
    # heap dumps are created in the working directory of the JVM
    -XX:+HeapDumpOnOutOfMemoryError

    # specify an alternative path for heap dumps
    # ensure the directory exists and has sufficient space
    #-XX:HeapDumpPath=${LOGSTASH_HOME}/heapdump.hprof

    ## GC logging
    #-XX:+PrintGCDetails
    #-XX:+PrintGCTimeStamps
    #-XX:+PrintGCDateStamps
    #-XX:+PrintClassHistogram
    #-XX:+PrintTenuringDistribution
    #-XX:+PrintGCApplicationStoppedTime

    # log GC status to a file with time stamps
    # ensure the directory exists
    #-Xloggc:${LS_GC_LOG_FILE}

    # Entropy source for randomness
    -Djava.security.egd=file:/dev/urandom

    # Copy the logging context from parent threads to children
    -Dlog4j2.isThreadContextMapInheritable=true
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: logstash-rsyslog-pipeline
  name: logstash-rsyslog-pipeline
  namespace: elk
data:
  filter_main.conf: |-
    filter {
      ruby {
        code => "event.set('day', event.timestamp.time.localtime.strftime('%Y.%m.%d'))"
      }
    }
  input_main.conf: |-
    input {
      syslog {
        port => 30186
        timezone => "Asia/Shanghai"
      }
    }
  output_main.conf: |-
    output {
      elasticsearch {
        hosts => {{ es_hosts_arr }}
        action => "index"
        index => "syslog-linux-%{day}"
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash-rsyslog
  namespace: elk
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: logstash-rsyslog
    spec:
      tolerations:
        - key: node.kubernetes.io/not-ready
          operator: Exists
          effect: NoExecute
          tolerationSeconds: 2
        - key: node.kubernetes.io/unreachable
          operator: Exists
          effect: NoExecute
          tolerationSeconds: 2
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      -  logstash-rsyslog
      containers:
        - name: logstash-rsyslog
          image: "{{ image_repository }}/public/logstash:7.10.2"
          imagePullPolicy: Always
          env:
            - name: TZ
              value: "Asia/Shanghai"
          resources:
            limits:
              memory: '8Gi'
              cpu: '4'
            requests:
              memory: '4Gi'
              cpu: '1'
          volumeMounts:
            - name: logstash-rsyslog-pipeline
              mountPath: /usr/share/logstash/pipeline
            - name: logstash-rsyslog-config
              mountPath: /usr/share/logstash/config/logstash.yml
              subPath: logstash.yml
            - name: timezone
              mountPath: /etc/localtime
            - name: jvm-options
              mountPath: /usr/share/logstash/config/jvm.options
              subPath: jvm.options
          lifecycle:
            preStop:
              exec:
                command: [ "sleep", "40" ]
      terminationGracePeriodSeconds: 120
      volumes:
        - name: logstash-rsyslog-config
          configMap:
            name: logstash-config
        - name: logstash-rsyslog-pipeline
          configMap:
            name: logstash-rsyslog-pipeline
        - name: timezone
          hostPath:
            path: /etc/localtime
        - name: jvm-options
          configMap:
            name: logstash-rsyslog-jvm
      securityContext:
        runAsUser: 0
        fsGroup: 1000
  selector:
    matchLabels:
      app: logstash-rsyslog
---
apiVersion: v1
kind: Service
metadata:
  name: logstash-rsyslog
  namespace: elk
spec:
  type: NodePort
  ports:
  - port: 30186
    protocol: TCP
    targetPort: 30186
    nodePort: 30186
  selector:
    app:  logstash-rsyslog
