---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: elk
  labels:
    app: filebeat
data:
  filebeat.yml: |-
    filebeat.inputs:
      - type: container
        paths:
          - "/var/log/containers/*.log"
        multiline.pattern: '(^time="\d{4}-\d{1,2}-\d{1,2}|^\d{4}-\d{1,2}-\d{1,2}|^\d{1,3}\.\d{1,3}\.\d{1,3}.\d{1,3}|^\[)'
        multiline.negate: true
        multiline.match: after
        processors:
          - add_kubernetes_metadata:
              in_cluster: true
              matchers:
              - logs_path:
                  logs_path: "/var/log/containers"
          - drop_event:
              when:
                or:
                  - not:
                      has_fields: kubernetes.labels.app
                  - equals:
                      kubernetes.namespace: default
                  - equals:
                      kubernetes.namespace: elk
                  - equals:
                      kubernetes.namespace: monitoring
                  - equals:
                      kubernetes.namespace: kube-system
                  - equals:
                      kubernetes.namespace: kubernetes-dashboard
                  - equals:
                      kubernetes.namespace: rocketmq
                  - equals:
                      kubernetes.container.name: filebeat
    processors:
      - drop_fields:
          fields:
            - "agent"
            - "host"
            - "log"
            - "input"
            - "ecs"
            - "container"
          ignore_missing: true
    output.kafka:
      hosts: {{ kafka_hosts_arr }}
      topic: log
      required_acks: 1
      compression: gzip
      worker: 32
      keep_alive: 32
      max_message_bytes: 10000000
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: filebeat
  namespace: elk
  labels:
    app: filebeat
spec:
  selector:
    matchLabels:
      app: filebeat
  template:
    metadata:
      labels:
        app: filebeat
    spec:
      serviceAccountName: filebeat
      terminationGracePeriodSeconds: 60
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: filebeat
          image: "{{ image_repository }}/public/beats-filebeat:7.10.2"
          args:
            - '-e'
            - '-E'
            - http.enabled=true
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: TZ
              value: "Asia/Shanghai"
          securityContext:
            runAsUser: 0
            privileged: true
          resources:
            limits:
              memory: 4Gi
              cpu: '4'
            requests:
              cpu: 200m
              memory: 100Mi
          volumeMounts:
            - name: config
              mountPath: /usr/share/filebeat/filebeat.yml
              readOnly: true
              subPath: filebeat.yml
            - name: data
              mountPath: /usr/share/filebeat/data
            - name: varlogcontainers
              mountPath: /var/log/containers
              readOnly: true
            - name: varlogpods
              mountPath: /var/log/pods
              readOnly: true
            - name: varruncontainerdsock
              readOnly: true
              mountPath: /run/containerd/containerd.sock
            - name: timezone
              mountPath: /etc/localtime
          livenessProbe:
            exec:
              command:
                - sh
                - '-c'
                - curl --fail 127.0.0.1:5066
          readinessProbe:
            exec:
              command:
                - sh
                - '-c'
                - filebeat test output
      volumes:
        - name: config
          configMap:
            name: filebeat-config
        - name: varlogcontainers
          hostPath:
            path: /var/log/containers
        - name: varlogpods
          hostPath:
            path: /var/log/pods
        - name: varruncontainerdsock
          hostPath:
            path: /run/containerd/containerd.sock
        - name: data
          hostPath:
            path: /var/lib/filebeat-data
            type: DirectoryOrCreate
        - name: timezone
          hostPath:
            path: /etc/localtime
      tolerations:
        - effect: NoSchedule
          operator: Exists
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: filebeat
  namespace: elk
subjects:
  - kind: ServiceAccount
    name: filebeat
    namespace: elk
roleRef:
  kind: ClusterRole
  name: filebeat
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: filebeat
  namespace: elk
  labels:
    app: filebeat
rules:
  - apiGroups: [ "" ]
    resources:
      - namespaces
      - pods
      - nodes
    verbs:
      - get
      - watch
      - list
  - apiGroups: [ "apps" ]
    resources:
      - replicasets
    verbs: [ "get", "list", "watch" ]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: filebeat
  namespace: elk
  labels:
    app: filebeat