apiVersion: v1
kind: Namespace
metadata:
  name: fdc
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: fdc-admin
  namespace: fdc
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: fdc-admin-rolebinding
  namespace: fdc
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin-upgrade-only
subjects:
  - kind: ServiceAccount
    name: fdc-admin
    namespace: fdc
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: fdc-admin-view-namespace
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view-namespaces
subjects:
  - kind: ServiceAccount
    name: fdc-admin
    namespace: fdc
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: fdc-admin-view-crd-resources
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view-crd-resources
subjects:
  - kind: ServiceAccount
    name: fdc-admin
    namespace: fdc
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: crd-object-admin
  namespace: fdc
rules:
  - verbs:
      - create
      - delete
      - update
    apiGroups:
      - '*'
    resources:
      - ingressroutes
      - ingressroutetcps
      - ingressrouteudps
  - verbs:
      - list
      - get
      - watch
    apiGroups:
      - '*'
    resources:
      - ingressroutes
      - ingressroutetcps
      - ingressrouteudps
      - middlewares
      - servicemonitors
      - alertmanagers
      - prometheusrules
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: fdc-crd-object-admin
  namespace: fdc
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: crd-object-admin
subjects:
  - kind: ServiceAccount
    name: fdc-admin
    namespace: fdc

---
apiVersion: v1
kind: Secret
metadata:
  name: harbor
  namespace: fdc
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "{{ image_repository }}": {
          "username": "{{ fdc_harbor_account }}",
          "password": "{{ fdc_harbor_password }}",
          "auth": "{{ fdc_harbor_auth_plaintext | b64encode }}"
        }
      }
    }
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: guest
  namespace: fdc
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: guest
  namespace: fdc
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: namespace-resource-guest
subjects:
  - kind: ServiceAccount
    name: guest
    namespace: fdc
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: guest
  namespace: fdc
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-resource-guest
subjects:
  - kind: ServiceAccount
    name: guest
    namespace: fdc