driftfile /var/lib/ntp/ntp.drift
leapfile /usr/share/zoneinfo/leap-seconds.list
statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable
#使用上级始终源
{% for ntp_server in ntp_servers.split(",") %}
{% if loop.index == 1 and loop.length < 4 %}
server {{ ntp_server }} prefer true
{% else %}
server {{ ntp_server }}
{% endif %}
{% endfor %}
# 当前服务器可以被当做时钟源
restrict default nomodify
restrict 127.0.0.1
restrict ::1