version: '3'
services:
  kafka-exporter:
    image: '{{ image_repository }}/public/kafka-exporter:1.3.1'
    network_mode: host
    restart: always
    command:
      - '--kafka.server=localhost:9092'
    ports:
      - '9308:9308'